*.bbl
*.aux
*.log
*.blg
*.out
*.synctex.gz
*.toc
*.egg-info
*.lof
*.lot

ReferenceMaterial/*.pdf
.DS_Store
kaplan.egg-info/*
kaplan/__pycache__/
kaplan/test/__pycache__/
kaplan/test/kaplan.egg-info/

*timer.dat
*psi.*.clean
*.ipynb_checkpoints

.vscode/*

kaplan/test/jupyter-notebooks/kaplan_output/*
